# =============== #
# Unity generated #
# =============== #
Temp/
Library/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/Library/*

# ============ #
# Other        #
# ============ #
Releases/
Logs/
.vs/
/.vscode/settings.json
/ProjectSettings/ProBuilderSettings.json
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Google Play Store/Video/Video.mp4
Assets/Resources/config.json
Assets/Resources/config.json.meta
node_modules
/.env
/UserSettings/EditorUserSettings.asset