# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


/Build
/.vs/Fighter Jet Simulator/v15/Server/sqlite3/db.lock
/.vs/Fighter Jet Simulator/v15/Server/sqlite3/storage.ide
/.vs/Fighter Jet Simulator/v15/sqlite3/db.lock
/.vs/Fighter Jet Simulator/v15/sqlite3/storage.ide
